/** Path: plugins block_moodleblock **/
/* 
    Document   : styles.css
    Created on : Sep 16, 2013, 3:18:14 PM
    Author     : Matt Rice
    Description:
        CSS for the Moodle Navigation block.
*/

span.icon-stack .pull-right-down {
    padding-top: 0.4em;
    padding-left: 0.7em;    
}
/* Give the links a sane Z-index (bootstrap gives .tooltip a z-index of 1030) */
.navcontent a.tooltip {
    z-index: 0;
}

/* Moodle Bar Tooltips- fancy rollovers used on the quick launch images*/
.navcontent a.tooltip span.text {
display:none; 
position: absolute;
padding:2px 3px;  
width:auto;
}
   
.navcontent a.tooltip:hover span.text {
display:inline-block; 
position:absolute; 
background:#282828; 
font-size: 0.8em;
margin-left: -15px;
margin-top: -60px;
}

.navcontent a {
    position: relative;
    display: inline-block;
}

.navcontent a:hover, 
.navcontent a:link {
    text-decoration: none;
}

.navcontent span.icon-stack {
    padding: 4px 6px;
}

#navsearchtext {
    width: 85%;
}

.navcontent form {
    padding: 5px;
}

.navcontent form div {
    width: 100%;
}