/** Path: plugins block_moodleblock **/
/* 
    Document   : styles.css
    Created on : Sep 16, 2013, 3:18:14 PM
    Author     : Matt Rice
    Description:
        CSS for the Moodle Navigation block.
*/

span.icon-stack .pull-right-down {
    padding-top: 0.4em;
    padding-left: 0.7em;    
}

/* Moodle Bar Tooltips- fancy rollovers used on the quick launch images*/
a.tooltip span.text {
display:none; 
position: absolute;
padding:2px 3px;  
width:auto;
}
   
a.tooltip:hover span.text {
display:inline-block; 
position:absolute; 
background:#282828; 
font-size: 0.8em;
margin-left: -15px;
margin-top: -60px;
}

.navcontent a {
    position: relative;
    display: inline-block;
}

.navcontent a:hover, a:link {
    text-decoration: none;
}

.navcontent span.icon-stack {
    padding: 4px 6px;
}

#navsearchtext {
    width: 75%;
}

.navcontent form {
    padding: 5px;
}